


//- schedule
section.schedule#schedule.relative
  
  .schedule__bg.parallax-figures.parallax-figures_schedule
    .rellax(data-rellax-speed="2", data-rellax-percentage="0.5")
      img(src="assets/img/background/schedule-figures.png")
  
  
  .container.schedule__wrap
    .clearfix
      h2.title_h2.schedule__title Программа
      .toggle-tabs
        a.toggle-tab-1.tab.j-sc-link-1.active 1 день
        a.toggle-tab-2.tab.j-sc-link-2 2 день
      
    
    //- TAB_1 _________________________________________________________________ 
      
    div.j-sc-tab-1
      
      h3.schedule__subtitle 30 сентября
      
      ul.schedule__list
        //- открытие фестиваля
        li.schedule__item.center.clearfix.first
          span.schedule__item-time.full 11:00
          span.schedule__item-title Открытие фестиваля
          
        mixin schedule-item(time, place, title, name)
          li.schedule__item.center.clearfix
            span.schedule__item-time= time
            //- flex container
            span.schedule__item-container
              span.schedule__item-place= place
              span.schedule__item-title.small!= title
              span.schedule__item-name= name
            
            
        +schedule-item(
        "12:00 - 13:00",
        "Зона блогеров",
        "\"Хаски: почему их все любят\"",
        "Андрей Петров и его хаски"
        )
        
        +schedule-item(
        "12:30 - 13:30",
        "Основная сцена \\ Лекторий",
        "\"Что говорят собаки\"",
        "Алексей Верещагин"
        )
        
        +schedule-item(
        "13:30 - 14:30",
        "Зона блогеров",
        "\"Фобии, страхи и неврозы у питомца. Почему в их появлении часто виноват хозяин\"",
        "Марфа Петербургская и Петс"
        )
        
        +schedule-item(
        "13:45 - 14:45",
        "Основная сцена \\ Лекторий",
        "\"Кошка и вы: кто в доме хозяин?!\"",
        "Ирина Кацер"
        )

        //- ТАКС ПАРАД
        li.schedule__item.center.clearfix.first
          span.schedule__item-time.full 14:45
          span.schedule__item-title ТАКС ПАРАД
          
        +schedule-item(
        "15:00 - 16:00",
        "Зона блогеров",
        "Интервью \"Как воспитывать собаку-убийцу\"",
        "Дмитрий \«Гоблин\» Пучков и его собака"
        )
        
        +schedule-item(
        "15:00 - 16:00",
        "Основная сцена \\ Лекторий",
        "\"В доме появился щенок\"",
        "Григорий Манев"
        )
        
        +schedule-item(
        "16:00 - 16:15",
        "Основная сцена \\ Лекторий",
        "\"Показательные выступления по дрессировке собак\"",
        "Клуб \"Каштанка\""
        )
        
        +schedule-item(
        "16:15 - 17:45",
        "Основная сцена \\ Лекторий",
        "\"Содержание дома диких животных\"",
        "Тимофей Баженов"
        )
        
        +schedule-item(
        "16:30 - 17:30",
        "Зона блогеров",
        "\"Как подружиться со своей собакой\"",
        "Анна Magic Family и семейство чихуа-хуа"
        )
        
        +schedule-item(
        "18:00 - 19:00",
        "Основная сцена",
        "Финал конкурса <span class='bold'>MISS PETSHOP</span>",
        ""
        )
        
        +schedule-item(
        "18:00 - 19:00",
        "Зона блогеров",
        "\"Как пригреть змею на груди\"",
        "Арслан Валеев"
        )
        
        //- ЗАКРЫТИЕ ФЕСТИВАЛЯ
        li.schedule__item.center.clearfix.first
          span.schedule__item-time.full 20:00
          span.schedule__item-title ЗАКРЫТИЕ ФЕСТИВАЛЯ
    
    
    
    //- TAB_2 _________________________________________________________________ 
      
    div.j-sc-tab-2
      
      h3.schedule__subtitle 1 октября
      
      ul.schedule__list
        //- открытие фестиваля
        li.schedule__item.center.clearfix.first
          span.schedule__item-time.full 11:00
          span.schedule__item-title Открытие фестиваля
          
        mixin schedule-item(time, place, title, name)
          li.schedule__item.center.clearfix
            span.schedule__item-time= time
            //- flex container
            span.schedule__item-container
              span.schedule__item-place= place
              span.schedule__item-title.small!= title
              span.schedule__item-name= name
            
            
        +schedule-item(
        "12:00 - 13:00",
        "Зона блогеров",
        "\"Хаски: почему их все любят\"",
        "Андрей Петров и его хаски"
        )
        
        +schedule-item(
        "13:00 - 13:40",
        "Основная сцена \\ Лекторий",
        "\"Полезные советы по кормлению. Покупаем корм или готовим сами?\"",
        "Граубергер Наталья"
        )
        
        +schedule-item(
        "13:30 - 14:30",
        "Зона блогеров",
        "\"Как содержать африканского ежа?\"",
        "Лера \«Pomadka\» Тарасова и еж"
        )
        
        +schedule-item(
        "13:45 - 14:45",
        "Основная сцена \\ Лекторий",
        "\"Что вы знаете о породах кошек?!\"",
        "Ирина Кацер"
        )

        //- ТАКС ПАРАД
        li.schedule__item.center.clearfix.first
          span.schedule__item-time.full 14:45
          span.schedule__item-title ТАКС ПАРАД
          
        +schedule-item(
        "15:00 - 16:00",
        "Зона блогеров",
        "\"instagram и анималистическая фотография\"",
        "Мария Чиженкова"
        )
        
        +schedule-item(
        "15:00 - 16:00",
        "Основная сцена \\ Лекторий",
        "\«Краткий курс дрессировки собак\»",
        "Григорий Манев"
        )
        
        +schedule-item(
        "16:15 - 17:45",
        "Основная сцена \\ Лекторий",
        "Тема уточняется",
        "Иван Затевахин"
        )
        
        +schedule-item(
        "16:30 - 17:30",
        "Зона блогеров",
        "\«Питомец и социальные сети\»",
        "Глеб Корнилов и мопс Чубака"
        )
        
        //- ЗАКРЫТИЕ ФЕСТИВАЛЯ
        li.schedule__item.center.clearfix.first
          span.schedule__item-time.full 20:00
          span.schedule__item-title ЗАКРЫТИЕ ФЕСТИВАЛЯ
          
          
      
