//- speakers
section.speakers#speakers.relative
  
  //- parallax-figures (speakers)
  .parallax-figures.parallax-figures_speakers
    .rellax(data-rellax-speed="4", data-rellax-percentage="0.5")
      img(src="assets/img/background/speakers-figures.png")
  
  .container.speakers__wrap.shadow
    .clearfix
      h2.title_h2.speakers__title Спикеры
      .toggle-tabs
        a.toggle-tab-1.tab.j-sp-link-1.active 1 день
        a.toggle-tab-2.tab.j-sp-link-2 2 день
      
    .clearfix
      ul.speakers__list.clearfix.j-sp-tab-1
        
        mixin speaker(firstname, lastname, imgClass, src, subtitle, text)
          li.speakers__item
            img(class=imgClass, src=src)
            h3.title_h3.speakers__item-title= firstname
              br 
              =lastname
              h4.title_h4.speakers__item-subtitle= subtitle
              p.text_light.speakers__text= text
        
        //- speaker-1
        +speaker(
        "Николай",
        "Дроздов",
        "speakers__item-img img-1",
        "/assets/img/photos/speaker-1.png",
        "Теле и радио ведущий, автор программы \"В мире животных\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        //- speaker-2
        +speaker(
        "Тимофей",
        "Боженов",
        "speakers__item-img img-2",
        "/assets/img/photos/speaker-2.png",
        "Теле и радио ведущий, автор программы \"В мире животных\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        //- speaker-3
        +speaker(
        "Григорий",
        "Манев",
        "speakers__item-img img-3",
        "/assets/img/photos/speaker-3.png",
        "автор и ведущий программы \"Планета собак\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        //- speaker-4
        +speaker(
        "Алексей",
        "Верещагин",
        "speakers__item-img img-4",
        "/assets/img/photos/speaker-4.png",
        "инструктор-дрессировщик собак, консультант Планета собак ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        //- speaker-5
        +speaker(
        "Евгения",
        "Тимонова",
        "speakers__item-img img-5",
        "/assets/img/photos/speaker-5.png",
        "Теле и радио ведущий, автор программы \"В мире животных\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        //- speaker-6
        +speaker(
        "Имя",
        "Фамилия",
        "speakers__item-img img-6",
        "/assets/img/photos/speaker-6.png",
        "Теле и радио ведущий, автор программы \"В мире животных\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        //- speaker-7
        +speaker(
        "Имя",
        "Фамилия",
        "speakers__item-img img-7",
        "/assets/img/photos/speaker-7.png",
        "Теле и радио ведущий, автор программы \"В мире животных\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        //- speaker-8
        +speaker(
        "Имя",
        "Фамилия",
        "speakers__item-img img-8",
        "/assets/img/photos/speaker-8.png",
        "Теле и радио ведущий, автор программы \"В мире животных\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        
      ul.speakers__list.clearfix.j-sp-tab-2
        
        mixin speaker(firstname, lastname, imgClass, src, subtitle, text)
          li.speakers__item
            img(class=imgClass, src=src)
            h3.title_h3.speakers__item-title= firstname
              br 
              =lastname
              h4.title_h4.speakers__item-subtitle= subtitle
              p.text_light.speakers__text= text
        
        
        //- speaker-7
        +speaker(
        "Имя",
        "Фамилия",
        "speakers__item-img img-7",
        "/assets/img/photos/speaker-7.png",
        "Теле и радио ведущий, автор программы \"В мире животных\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
        
        //- speaker-8
        +speaker(
        "Имя",
        "Фамилия",
        "speakers__item-img img-8",
        "/assets/img/photos/speaker-8.png",
        "Теле и радио ведущий, автор программы \"В мире животных\" ",
        " \"Сознание животных: как разговаривают обезьяны и чем думают муравьи\" "
        )
    
    
  
        
    
